@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');




html, body{
  font-family: "Space Grotesk", sans-serif;
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}

*{
    box-sizing: border-box;
}

.wrapper{
    width: 100vh;
}

.Main-Top2{
    margin: auto;
    padding-left: 0px;
    margin-left: 40px;
}
.mt2-h1{
    font-family: "Roboto Slab", serif;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 56px;
    line-height: 101.4%;
    
    
}

.mt2-top{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.mt2-left p{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    width: 662px;
    line-height: 150%;
  
}

.mt2-pe{
  margin-top: 202px;
}
.mt2-left{
  width: 50%;
  width: 786px;
  
}

.mt2-foto1{
  width: 343px;
  height: 332px;
}

.mt2-right{
  margin-right: 124px;
  margin-top: 120px;
}


.mt2-main{
  width: 100vw;
  margin-left: 19px;
  margin-right: 314px;
  display: flex;
  flex-direction: row;
  gap: 95px;
  margin-top: 94px;

}

.mt2-foto2{
  /* margin-left: 124px; */
  margin-right: 0px;
}


.mt2-mh{
    font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1px;
}


.mt2-mc{
  width: 200px;
}


.mt2-mc{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 150px;
}



@media screen and (max-width: 1400px) {
  .mt2-foto2 {
   display: none; 
  }

    .mt2-main {
   /* margin-left: 120px;  */
  }

  .mt2-right{
    /* margin-left: 127px; */
  }
}


@media screen and (max-width: 830px){

  .mt2-top{
  flex-direction: column;
}

.mt2-right{
  justify-self: center;
  margin: auto;
  margin-bottom: 50px;
}

  .mt2-main {
 display: grid;
 grid-template-rows: 1fr 1fr;
 grid-template-columns: 1fr 1fr;
 gap: 0px;
position: sticky;
  }


.mt2-m2{
  margin-left: -190px;
}
}